*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.time--container{
  position: fixed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time{
  color: lightslategray;
}
.time--date{
  color: lightslategray;
  font-weight: 400;
}

.dev--media-container{
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
  align-items:start;
  position: fixed;
  right: 20px;
  bottom: 20px;
  gap: 10px;
}
.dev--media-container > h2{
  color:#0051ffd5;
}
.dev--media-link{
  color: #3a78ff;
  font-size: 20px;
  font-weight:500;
  text-decoration:none;
  transition-delay: 5s;
  transition: text-decoration 0.15s;
  text-decoration-color: transparent;

  display: flex;
  flex-direction: row;

}
.dev--media-link:hover{
  text-decoration:underline;
  text-decoration-color: #3a78ff;
}
.input--filed{

  background-color:white ;
  height: 60px;
  width: 40vw;
  border: 1.4px solid #5427b4;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
  outline: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.blocks{
  /* background-color: lightgreen; */
  display: flex;
  flex-direction:row;
  align-items:stretch;
  justify-content: center;
  gap: 50px;
}
.center-block--container{
  background-color: rgba(219, 202, 255, 0.478);
  width: 20vw;
  padding: 20px;
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  column-gap: 20px;
  row-gap: 20px;

  border: 3px solid #5427b4;
  border-radius: 20px;
}
.test{
  width: 70px;
  height: 70px;
  background-color: lightcoral;

  display: flex;
  align-items: center;
  justify-content: center;
}

.side-block--container{
  width:fit-content;
  padding: 20px;
  background-color: rgba(219, 202, 255, 0.478);
  display: flex;
  flex-direction:column;
  align-items: center;
  row-gap: 20px;

  border: 3px solid #5427b4;
  border-radius: 20px;

}