@font-face {
  font-family: kapakana;
  src: url(./assets/Kapakana.ttf);
}



*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Prompt", sans-serif;
}
.time--container{
  position: fixed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time{
  color: lightslategray;
}
.time--date{
  color: lightslategray;
  font-weight: 400;
}

.dev--media-container{
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
  align-items:start;
  position: fixed;
  right: 20px;
  bottom: 20px;
  gap: 10px;
}
.dev--media-container > h2{
  color:#0051ffd5;
}
.dev--media-link{
  color: #3a78ff;
  font-size: 20px;
  font-weight:500;
  text-decoration:none;
  transition-delay: 5s;
  transition: text-decoration 0.15s;
  text-decoration-color: transparent;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.dev--media-link:hover{
  text-decoration:underline;
  text-decoration-color: #3a78ff;
}
.input--filed{

  background-color:white ;
  height: 60px;
  width: 40vw;
  border: 1.4px solid #5427b4;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
  outline: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.blocks{
  /* background-color: lightgreen; */
  display: flex;
  flex-direction:row;
  align-items:stretch;
  /* justify-content:space-between; */
  justify-content:center;
  gap: 41px;
  width: 40vw;
  height: 304px;
}
.invisible{
  opacity: 0;
  transition:opacity .4s;
}
.center-block--container{
  background-color: rgba(219, 202, 255, 0.478);
  width: 20vw;
  padding: 20px;
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  column-gap: 20px;
  row-gap: 20px;

  border: 3px solid #5427b4;
  border-radius: 20px;
}
.test{
  width: 50px;
  height: 50px;
  background-color: lightcoral;

  display: flex;
  align-items: center;
  justify-content: center;
}

.side-block--container{
  /* width:fit-content; */

  padding: 20px;
  background-color: rgba(219, 202, 255, 0.478);
  display: flex;
  flex-direction:column;
  align-items: center;
  row-gap: 20px;

  border: 3px solid #5427b4;
  border-radius: 20px;

}

.custom-text--container{
  display: flex;
  position: fixed;
  top: 20px;

}
.custom-text{
  font-size: 50px;
  width: 80vw;
  font-weight: 700;
  font-family:kapakana;
  flex-wrap: wrap;
  text-shadow: 5px 5px 10px #5427b4;
  text-align: center;
}

.search-block-text--container{
  background-color: lightgoldenrodyellow;
  height:calc(100vh - 10vh);
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 10vh;
  padding-top: 10vh;
}

.form{
  position: relative;
}
.history--container{
  background-color: white;
  position:absolute;
  top: calc(10vh + 60px);
  left: 0;
  right: 0;
  z-index: 2;
  z-index: 2;

  display:flex ;
  flex-direction: column-reverse;
  align-items: baseline;
  background-color: black;
  gap: 1px;
  border-radius: 15px;
  overflow:hidden;
  border: 1px solid black;
}
.history{
  font-size: 20px;
  background-color: white;
  width: calc(100% - 40px);
  padding: 10px 20px 10px 20px;
  max-height: 70px;
  overflow: hidden;
  /* background-color: #3a78ff; */
  cursor:pointer;
  transition-delay: 50ms;
  position: relative;
}
.history-remove--button{
  font-size: 15px;
  padding: 4px 8px ;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 50px;
  
  position:absolute;
  top: 10px;
  right: 15px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.1s;
}
.history:hover .history-remove--button{
  opacity: 1;
  position: relative;
}
.history-remove--button{
  font-size: 15px;
  padding: 4px 8px ;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 50px;
  
  position:absolute;
  top: 10px;
  right: 15px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.1s;
}
.history:hover .history-remove--button{
  opacity: 1;
}
.history:hover{
  background-color: #e6e7e7;
}

.settings--button{
  position: fixed;
  right: 50px;
  top: 30px;
  padding: 8px 9px 7px 9px;
  border-radius: 50px;
  border: 2px solid #778899;
  background-color: transparent;

}
.side-panel--screan{
  background-color: transparent;

  position:absolute;
  z-index:5;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:right;
}
.side-panel--container{
  background-color: rgba(240, 128, 128, 0.267);
  width: 300px;
  height: 100%;
  
}
.side-panel--item{
  /* background-color: lightgreen; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  margin: 10px 0;
}
.side-panel--lable{
  background-color: lightblue;
  font-size: 18px;
}